node_modules
npm-debug.log
npm-debug.log.*
coverage
.DS_Store
.idea
doc/
.vscode/
.env
.eslintcache
lib/*.js
auth/**/*.js
iam-token-manager/*.js
index.js
.nyc_output
**/*.d.ts
!*/blob.d.ts
**/*.js.map
coverage.lcov
.swagger-codegen-ignore
/.settings/
/.project
.secrets.baseline
.pre-commit-config.yaml
