CP4D_PASSWORD_TEST_AUTH_URL=<url>   e.g. https://cpd350-cpd-cpd350.apps.wml-kf-cluster.os.fyre.ibm.com/icp4d-api
CP4D_PASSWORD_TEST_AUTH_TYPE=cp4d
CP4D_PASSWORD_TEST_USERNAME=<username>
CP4D_PASSWORD_TEST_PASSWORD=<password>
CP4D_PASSWORD_TEST_AUTH_DISABLE_SSL=true

CP4D_APIKEY_TEST_AUTH_URL=<url>   e.g. https://cpd350-cpd-cpd350.apps.wml-kf-cluster.os.fyre.ibm.com/icp4d-api
CP4D_APIKEY_TEST_AUTH_TYPE=cp4d
CP4D_APIKEY_TEST_USERNAME=<username>
CP4D_APIKEY_TEST_APIKEY=<apikey>
CP4D_APIKEY_TEST_AUTH_DISABLE_SSL=true
